*{
    margin:0;
    font-family: Arial;
    border:border-box;

}

.navbar{
    height:60px; 
    background-color: #0f1111;
    color:white;
    display: flex;    
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height:55px;
    width:113px;
}

.logo{
    background-image: url(3.png);
    background-size: cover; 
    height:55px;
    width:100%;

}
.border{
    border: 0.5px solid transparent;
}
.border:hover{
    border: 0.5px solid white;
}
/**box 2**/
.add-first{
    color:#CCCCCC;
    font-size: 0.85rem;
    margin-top:13px;
    margin-left: 13px;
    
}
.add-second{
    color:#FFFFFF;
    font-size: 1rem;
    margin-left:3px;
    font-weight: 700;

}
.add-icon{
    display:flex;
    align-items: center;
}
/*box3*/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #FEBD68;
    width:620px;
    height:40px;
    color:#0f1111;
    border-radius: 5px;
}

.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border:none;
   
}
.search-icon{
    width: 45px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-search:hover{
    border:3px solid orange
}

/*box4*/
span{
    font-size: 0.8rem;
}

.nav-second{
    font-size:0.95rem;
    font-weight: 700;
}
/*box5*/

.nar-cart i {
    font-size: 30px;
}
.nar-cart{
    font-size:0.85rem;
    font-weight: 700;
}
/**panel**/

.panel{
    height: 38px;
    background-color:#222f3d;
    display: flex;
    color:#FFFFFF;
    align-items: center;
    justify-content: space-evenly;
}
.panel-all{
    font-size: 1rem;
    font-weight: 700;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
    
}

.panel-ops{
    font-size: 0.85rem;
    width:90%;
   
}
/*hero-section*/
.hero-section{
    background-image: url(hero.jpg);
    background-size: cover;
    height:300px;
    font-size:0.85rem;
    display:flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: #f5f6f6;
    color: #0f1111;
    height: 40px;
    width:97%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
   
}

.hero-msg a{
    color:#007185;
  
    text-decoration: none;
}

/**shop-section**/
.shop-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #FFE6E6;

}
.box{
 
    height:350px;
    width:23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top:15px;
}

.box-img{
    height:250px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;


}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
   
}
h2{
    color: black;

}
.box-content a{
    color:#007185;
    text-decoration: none;
}
/**footer*/
footer{
    margin-top:15px;

}
.foot-panel1{
    background-color:#37475a ;
    color:white;
    height:50px;
    display:flex;
    justify-content: center;
    align-items:center ;
    font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color:white;
    height:400px;
    display:flex;
    justify-content: space-evenly;
}
ul p{
    font-weight: 700;
    margin-top:40px;
}
ul a{
    display:block;
    color:#DDDDDD;
    font-size: 0.85rem;
    text-decoration: none;
    margin-top:15px;

}.foot-panel3{
    background-color: #222f3d;
    border-top: 0.1PX solid #DDDDDD;
    height:70px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(3.png);
    background-size: cover; 
    height:50px;
    width:100px;

}
.pages{
    background-color: #0f1111;
    color:white;
    display:flex;
    height:30px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    


}
.pages a{
    text-decoration: none;
    color:white;
    margin-right:20px;

}
.copyright{
    background-color: #0f1111;
    color:white;
    display:flex;
    height:30px;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
